# 5. Funciones de Ventana para el Análisis de Datos

In [1]:
# @title Postgress preloading (install server)
#The output of the installation is not displayed when %%capture is used at the start of the cell
%%capture
# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
# Setup a password `postgres` for username `postgres`
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
# Setup a database with name `sampledb` to be used
# !sudo -u postgres psql -U postgres -c 'DROP DATABASE IF EXISTS sampledb;'
# !sudo -u postgres psql -U postgres -c 'CREATE DATABASE sampledb;'

!curl https://raw.githubusercontent.com/limspiga/data-modeling/main/db/data.dump  -O
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE sqlda;'

# !sudo -u postgres psql -U postgres -d 'sqlda' -f 'data.dump'

# https://thivyapriyaa.medium.com/setting-up-postgresql-on-google-colab-4d02166939fc

In [2]:
# @title Postgress preloading
# import
!sudo -u postgres psql -d sqlda < data.dump
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sqlda
#To load the sql extention to start using %%sql
%load_ext sql

SET
SET
SET
SET
SET
 set_config
------------

(1 row)

SET
SET
SET
SET
CREATE EXTENSION
COMMENT
CREATE EXTENSION
COMMENT
CREATE TEXT SEARCH DICTIONARY
ALTER TEXT SEARCH DICTIONARY
SET
SET
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE MATERIALIZED VIEW
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
CREATE TABLE
ALTER TABLE
COPY 44533
COPY 0
COPY 50000
COPY 32
COPY 50000
COPY 20
COPY 418158
COPY 12
COPY 15412
COPY 37711
COPY 300
COPY 20
ALTER TABLE
ALTER TABLE
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
CREATE INDEX
REFRESH MATERIALIZED VIEW
REFRESH MATERIALIZED VIEW
env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/sqlda


En el Capítulo 3, exploraste diversas funciones de SQL esenciales para la preparación de datos, incluyendo CASE WHEN, COALESCE y NULLIF, las cuales se aplican a datos específicos dentro de una fila individual. En contraste, el Capítulo 4 te guió a través de funciones de agregación, tales como SUM, AVG y COUNT, diseñadas para procesar y analizar múltiples filas de datos. Imagina, por ejemplo, que estás analizando indicadores de salud en recién nacidos; podrías emplear CASE WHEN para evaluar la salud de cada infante basándote en su peso y altura, mientras que las funciones de agregación te permitirían calcular promedios y desviaciones estándar a nivel nacional.

En ciertas situaciones, la posición relativa de un dato dentro de un conjunto adquiere una importancia crítica, como es el caso de los rankings. Por ejemplo, un bebé podría estar en un rango de salud diferente comparado a nivel nacional versus a nivel municipal. Además, al manejar conjuntos de datos extensos, es posible que necesites analizar subgrupos o particiones específicas, como podrían ser los diferentes estados. En estos casos, se hace necesario calcular un ranking que sea válido únicamente dentro de cada partición, tomando en cuenta un conjunto predefinido de filas, o "ventana". Este método de análisis se realiza mediante el uso de las llamadas funciones de ventana.

# Funciones de Ventana
Continuando con el análisis de las Funciones de Ventana, supongamos que tu objetivo es identificar los clientes pioneros de ZoomZoom. En términos técnicos, tu intención es
- ordenar a los clientes basándote en la fecha en que iniciaron su relación con la empresa,
- asignando al más antiguo el rango 1, al siguiente el rango 2, y así consecutivamente.

Para lograrlo, puedes recopilar la información de todos los clientes mediante la consulta que se presenta a continuación:

In [ ]:
%%sql
-- Figure 5.1: Customers ordered by date_added
SELECT
  customer_id, first_name, last_name, date_added
FROM
  customers
ORDER BY
  date_added LIMIT 10;

10 rows affected.

[(18685, 'Ingram', 'Crossman', datetime.datetime(2012, 11, 9, 0, 0)),
 (30555, 'Stanwood', 'Stookes', datetime.datetime(2012, 11, 9, 0, 0)),
 (17099, 'Pearla', 'Halksworth', datetime.datetime(2012, 11, 9, 0, 0)),
 (6173, 'Danila', 'Gristwood', datetime.datetime(2012, 11, 9, 0, 0)),
 (12484, 'Lillis', 'Brayley', datetime.datetime(2012, 11, 9, 0, 0)),
 (30046, 'Nanete', 'Hassur', datetime.datetime(2012, 11, 9, 0, 0)),
 (13390, 'Danika', 'Lough', datetime.datetime(2012, 11, 9, 0, 0)),
 (7486, 'Ciro', 'Ferencowicz', datetime.datetime(2012, 11, 9, 0, 0)),
 (2625, 'Binky', 'Dawtrey', datetime.datetime(2012, 11, 9, 0, 0)),
 (35683, 'Betteanne', 'Rulf', datetime.datetime(2012, 11, 9, 0, 0))]

Puedes
- ordenar a los clientes desde el más antiguo hasta el más reciente,
- copiar los resultados en una hoja de Excel y
- asignar un número de fila a cada uno para tener el rango de cada cliente.

Sin embargo, este método no es automático y puede llevar a errores. SQL ofrece varias formas para lograr esto de manera más eficiente.

En secciones posteriores de este capítulo, descubrirás cómo asignar números secuenciales a registros previamente ordenados utilizando la función de ventana RANK. Como punto de partida, puedes emplear una función de agregación para recopilar las fechas de registro de los clientes y proceder a su ordenación.

In [ ]:
%%sql
-- Figure 5.2: Aggregate date-time ordering
SELECT
  date_added, COUNT(*)
FROM
  customers
GROUP BY
  date_added
ORDER BY
  date_added LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(datetime.datetime(2012, 11, 9, 0, 0), 11),
 (datetime.datetime(2012, 11, 10, 0, 0), 13),
 (datetime.datetime(2012, 11, 11, 0, 0), 12),
 (datetime.datetime(2012, 11, 12, 0, 0), 19),
 (datetime.datetime(2012, 11, 13, 0, 0), 23),
 (datetime.datetime(2012, 11, 14, 0, 0), 16),
 (datetime.datetime(2012, 11, 15, 0, 0), 20),
 (datetime.datetime(2012, 11, 16, 0, 0), 14),
 (datetime.datetime(2012, 11, 17, 0, 0), 11),
 (datetime.datetime(2012, 11, 18, 0, 0), 21)]

El resultado ordena las fechas de manera secuencial. A partir de ello, es posible determinar cuántos clientes se unieron a ZoomZoom antes que un cliente específico, sumando las inscripciones de los días anteriores a su fecha de adhesión. Sin embargo, este enfoque es manual y no ofrece una visión directa del rango. Es aquí donde entran en juego las funciones de ventana. Estas herramientas procesan varias filas de datos conservando toda su información. Son esenciales para tareas como determinar rangos. En la siguiente sección, ilustraremos con un ejemplo de consulta utilizando una función de ventana.

# Conceptos Básicos de las Funciones de Ventana
A continuación, se presenta la sintaxis básica de una función de ventana:

```sql
SELECT {columns},
{window_func} OVER (PARTITION BY {partition_key} ORDER BY {order_key})
FROM table1;
```

Aquí, {columnas} son las columnas que deseas recuperar de las tablas para la consulta, {func_ventana} es la función de ventana que deseas usar, table1 es la tabla o tablas unidas de las que deseas extraer datos, y la palabra clave OVER indica donde comienza la definición de la ventana. Esta definición, en su sintaxis básica, incluye dos partes: {clave_partición} y {clave_orden}. La primera se refiere a la columna o columnas que deseas dividir (se hablará más de esto más adelante) y la segunda es la columna o columnas por las que deseas ordenar.

Para ilustrar esto, consideremos un ejemplo. Podrías pensar que no conoces ninguna función de ventana, pero la realidad es que todas las funciones de agregación pueden utilizarse como funciones de ventana. Ahora, utiliza COUNT(*) en la siguiente consulta:

In [ ]:
%%sql
-- Figure 5.3: Customers listed using the COUNT(*) window query
SELECT
  customer_id,
  title,
  first_name,
  last_name,
  gender,
  COUNT(*) OVER () as total_customers
FROM
  customers
ORDER BY
  customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 50000),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 50000),
 (3, None, 'Braden', 'Jordan', 'M', 50000),
 (4, None, 'Jessika', 'Nussen', 'F', 50000),
 (5, None, 'Lonnie', 'Rembaud', 'F', 50000),
 (6, None, 'Cortie', 'Locksley', 'M', 50000),
 (7, None, 'Wood', 'Kennham', 'M', 50000),
 (8, None, 'Rutger', 'Humblestone', 'M', 50000),
 (9, None, 'Melantha', 'Tibb', 'F', 50000),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 50000)]

Como se muestra en la Figura 5.3, la consulta devuelve título, primer nombre y apellido, al igual que una consulta SELECT típica. Sin embargo, ahora hay una nueva columna llamada total_clientes. Esta columna contiene el recuento de usuarios que serían creados por la siguiente consulta:

In [ ]:
%%sql
SELECT
  COUNT(*)
FROM
  customers;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[(50000,)]

La consulta anterior devuelve 50,000. La consulta retornó todas las filas y el COUNT(*) en la consulta devuelve el recuento como lo haría cualquier función de agregación normal.
Ahora, en cuanto a los otros parámetros de la consulta, ¿qué sucede si añades la cláusula OVER para convertir este COUNT en una función de ventana, manteniendo la función como COUNT pero definiendo la ventana usando PARTITION BY, como en la consulta siguiente?

In [ ]:
%%sql
-- Figure 5.4: Customers listed using COUNT(*) partitioned by the gender window query
SELECT
  customer_id,
  title,
  first_name,
  last_name,
  gender,
  COUNT(*) OVER (PARTITION BY gender) as total_customers
FROM
  customers
ORDER BY
  customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 25044),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 24956),
 (3, None, 'Braden', 'Jordan', 'M', 24956),
 (4, None, 'Jessika', 'Nussen', 'F', 25044),
 (5, None, 'Lonnie', 'Rembaud', 'F', 25044),
 (6, None, 'Cortie', 'Locksley', 'M', 24956),
 (7, None, 'Wood', 'Kennham', 'M', 24956),
 (8, None, 'Rutger', 'Humblestone', 'M', 24956),
 (9, None, 'Melantha', 'Tibb', 'F', 25044),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 25044)]

Aquí, puedes ver que total_clientes ahora ha cambiado los conteos a uno de dos valores, 24956 o 25044. Al usar la cláusula PARTITION BY sobre la columna de género, SQL divide el conjunto de datos en múltiples particiones basadas en los valores únicos de esta columna. Dentro de cada partición, SQL calcula el conteo total. Por ejemplo, hay 24956 hombres, por lo que la función de ventana COUNT para la partición de hombres devuelve 24596, lo que puedes confirmar con la siguiente consulta:

In [ ]:
%%sql
SELECT
  gender,
  COUNT(*)
FROM
  customers
GROUP BY
1;

 * postgresql://postgres:***@localhost:5432/sqlda
2 rows affected.

[('M', 24956), ('F', 25044)]

Ahora ves cómo se define y se utiliza la partición con la cláusula PARTITION BY. Para las mujeres, el conteo es igual al número de mujeres, y para los hombres, el conteo es igual al número de hombres. ¿Qué sucede ahora si utilizas ORDER BY en lugar de ello en la cláusula OVER como sigue?

In [ ]:
%%sql
-- Figure 5.5: Customers listed using COUNT(*) ordered by the customer_id window query
SELECT
  customer_id, title,
  first_name, last_name, gender,
  COUNT(*) OVER (ORDER BY customer_id) as total_customers
FROM
  customers
ORDER BY
  customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 1),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 2),
 (3, None, 'Braden', 'Jordan', 'M', 3),
 (4, None, 'Jessika', 'Nussen', 'F', 4),
 (5, None, 'Lonnie', 'Rembaud', 'F', 5),
 (6, None, 'Cortie', 'Locksley', 'M', 6),
 (7, None, 'Wood', 'Kennham', 'M', 7),
 (8, None, 'Rutger', 'Humblestone', 'M', 8),
 (9, None, 'Melantha', 'Tibb', 'F', 9),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 10)]

Notarás algo similar a un conteo acumulado para el total de clientes. Aquí es donde proviene la definición de 'ventana' en función de ventana. Cuando usas esta función de ventana, dado que no especificaste un PARTITION BY, se utiliza el conjunto de datos completo para el cálculo. Dentro de este conjunto de datos,
- cuando no se especifica ORDER BY, se asume que solo hay una ventana, que contiene todo el conjunto de datos.
- Sin embargo, cuando se especifica ORDER BY, las filas en el conjunto de datos se ordenan de acuerdo con este criterio.

Para cada valor único en el orden, SQL forma un grupo de valores, que contiene todas las filas con dicho valor. La consulta luego crea una ventana para cada grupo de valores.

- **La ventana contendrá todas las filas en este grupo de valores y todas las filas que están ordenadas antes de este grupo de valores**.

A continuación se muestra un ejemplo:

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/8daed639-c93e-4a0c-a7d4-27c16ee9c892.png?raw=true' width="600" />
<figcaption>
Figure 5.6: Windows for customers using COUNT(*) ordered by the customer_id window query</figcaption></center>
</figure>

Aquí, el conjunto de datos se ordena usando customer_id, que resulta ser la clave primaria. Como tal, cada fila tiene un valor único y forma un grupo de valores. El primer grupo de valores, sin ninguna fila antes que él, forma su propia ventana, que contiene solo la primera fila. La ventana del segundo grupo de valores contendrá tanto a sí misma como a la fila anterior, lo que significa la primera y segunda fila. Luego, la ventana del tercer grupo de valores contendrá a sí misma y las dos filas anteriores, y así sucesivamente. Cada grupo de valores tiene su ventana. Una vez que se establecen las ventanas, para cada grupo de valores, se calcula la función de ventana basada en la ventana. En este ejemplo, esto significa que COUNT se aplica a cada ventana. Por lo tanto, el grupo de valores 1 (la primera fila) obtiene 1 como resultado ya que su Ventana 1 contiene una fila, el grupo de valores 2 (la segunda fila) obtiene 2 ya que su Ventana 2 contiene dos filas, y así sucesivamente. Los resultados se aplican a cada fila en este grupo de valores si el grupo contiene varias filas. Ten en cuenta que la ventana se utiliza solo para el cálculo. Los resultados se asignan a filas en el grupo de valores, no se asignan a las filas en la ventana.

¿Qué sucede cuando combinas PARTITION BY y ORDER BY? Ahora, observa la siguiente consulta:

In [ ]:
%%sql
-- Figura 5.7: Clientes listados usando COUNT(*) particionados por género y ordenados por la consulta de ventana customer_id.
SELECT
  customer_id,
  title,
  first_name,
  last_name,
  gender,
  COUNT(*) OVER (
    PARTITION BY gender
    ORDER BY customer_id
  ) as total_customers
FROM
  customers
ORDER BY
  customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 1),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 1),
 (3, None, 'Braden', 'Jordan', 'M', 2),
 (4, None, 'Jessika', 'Nussen', 'F', 2),
 (5, None, 'Lonnie', 'Rembaud', 'F', 3),
 (6, None, 'Cortie', 'Locksley', 'M', 3),
 (7, None, 'Wood', 'Kennham', 'M', 4),
 (8, None, 'Rutger', 'Humblestone', 'M', 5),
 (9, None, 'Melantha', 'Tibb', 'F', 4),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 5)]

Al igual que la consulta anterior, parece ser una especie de rango. Sin embargo, parece diferir según el género. En este SQL en particular, la consulta divide la tabla en dos subconjuntos basados en la columna PARTITION BY. Eso es porque la cláusula PARTITION BY, al igual que GROUP BY, primero divide el conjunto de datos en grupos (que aquí se llama partición) basados en el valor en la columna de género. Luego, cada partición se utiliza como base para hacer un conteo, con cada partición teniendo su propio conjunto de grupos de valores. Estos grupos de valores se ordenan dentro de la partición, se crean ventanas basadas en los grupos de valores y sus órdenes, y la función de ventana se aplica a los valores. Los resultados se asignan finalmente a cada fila en los grupos de valores.


Este proceso se ilustra en la Figura 5.8. Este proceso produce el conteo que puedes ver. Las tres palabras clave, OVER(), PARTITION BY y ORDER BY, son la base del poder de las funciones de ventana.

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/6a82dd5c-88c2-4fec-bd7e-228233ed5585.png?raw=true' width="600" />
<figcaption>
Figura 5.8: Ventanas para clientes listados usando COUNT(*) particionados por género y ordenados por la consulta de ventana customer_id.</figcaption></center>
</figure>

Ahora que comprendes las funciones de ventana, intenta aplicarlas en el próximo ejercicio.

## Ejercicio 5.01: Analizando tasas de llenado de datos de clientes a lo largo del tiempo.

En este ejercicio, aplicarás funciones de ventana a un conjunto de datos y analizarás la información.
- Durante los últimos seis meses, ZoomZoom ha estado experimentando con diversas promociones para lograr que sus clientes estén más involucrados en la actividad de venta.

- Una forma de medir el nivel de compromiso es evaluar la disposición de las personas para completar todos los campos en el formulario de cliente, especialmente su dirección. Para lograr este objetivo, la empresa desea un total acumulado de cuántos usuarios han rellenado sus direcciones postales con el tiempo.

Realiza los siguientes pasos para completar este ejercicio:

1. Utiliza funciones de ventana y escribe una consulta que devuelva la información de los clientes y cuántas personas han completado su dirección de calle. Además, ordena la lista por fecha.

In [ ]:
%sql SELECT   customer_id, street_address, date_added::DATE FROM customers WHERE customer_id IN (2625, 30555, 48307, 13390, 12484) LIMIT 4;

 * postgresql://postgres:***@localhost:5432/sqlda
4 rows affected.

[(2625, '0353 Iowa Road', datetime.date(2012, 11, 9)),
 (12484, None, datetime.date(2012, 11, 9)),
 (13390, '38463 Forest Dale Way', datetime.date(2012, 11, 9)),
 (30555, '294 Quincy Hill', datetime.date(2012, 11, 9))]

In [ ]:
%%sql
-- La ventana es por día (10/11)
-- Figura 5.9: Filtro de dirección de calle ordenado por la consulta de ventana date_added
SELECT
  customer_id,
  street_address,
  date_added::DATE,

  -- not_null_street_address
  COUNT(
    CASE
      WHEN street_address IS NOT NULL THEN customer_id
      ELSE NULL -- LO HACEMOS NULO PARA QUE NO LO CUENTE
    END
  ) OVER (ORDER BY date_added::DATE) AS not_null_street_address,

  -- total_street_address
  COUNT(*) OVER (ORDER BY date_added::DATE) as total_street_address
FROM
  customers
 ORDER BY
 date_added LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(6173, '79865 Hagan Terrace', datetime.date(2012, 11, 9), 10, 11),
 (7486, '61 Village Crossing', datetime.date(2012, 11, 9), 10, 11),
 (13390, '38463 Forest Dale Way', datetime.date(2012, 11, 9), 10, 11),
 (2625, '0353 Iowa Road', datetime.date(2012, 11, 9), 10, 11),
 (30046, '13961 Steensland Trail', datetime.date(2012, 11, 9), 10, 11),
 (17099, '130 Marcy Crossing', datetime.date(2012, 11, 9), 10, 11),
 (12484, None, datetime.date(2012, 11, 9), 10, 11),
 (18685, '86 Michigan Junction', datetime.date(2012, 11, 9), 10, 11),
 (48307, '8487 Warbler Plaza', datetime.date(2012, 11, 9), 10, 11),
 (30555, '294 Quincy Hill', datetime.date(2012, 11, 9), 10, 11)]


3. Escribe una consulta para ver cómo cambian con el tiempo el número de personas que completan el campo de la dirección de calle.
4. En el paso 1, ya obtuviste todas las direcciones de los clientes ordenadas por la fecha de registro. En el query 5.10, las dos columnas que siguen a la columna de fecha de registro son el número de direcciones no NULL y el número de todas las direcciones de los clientes para cada día acumulativo, es decir, una suma desde el inicio de las ventas hasta el día actual.
Como aprendiste en el Capítulo 4, "Funciones de Agregación para Análisis de Datos", al dividir el número de direcciones no NULL entre el número de todas las direcciones de los clientes, puedes obtener el porcentaje de clientes con direcciones de calle no NULL y derivar el porcentaje de clientes con direcciones de calle NULL. Seguir este número proporcionará una visión de cómo los clientes interactúan con tu fuerza de ventas a lo largo del tiempo. Además, dado que ambos números de direcciones se calculan para cada día acumulativo, el porcentaje también es para cada día acumulativo. Este es un ejemplo de diferentes funciones de ventana compartiendo la misma ventana en la misma consulta.

  También puedes reescribir la siguiente consulta utilizando una cláusula WINDOW para simplificarla, lo cual se introducirá en la próxima sección.

In [ ]:
%%sql
WITH
  -- FUNCION WINDOWS
  daily_rolling_count as (
    SELECT
      customer_id,
      street_address,
      date_added::DATE,
      COUNT(
        CASE
          WHEN street_address IS NOT NULL THEN customer_id
          ELSE NULL
        END
      ) OVER (ORDER BY date_added::DATE)
        as non_null_street_address,
      COUNT(*) OVER (ORDER BY date_added::DATE)
        as total_street_address

    FROM
      customers
  )

SELECT DISTINCT
  date_added,
  non_null_street_address,
  total_street_address,
  1 - 1.0 * non_null_street_address/total_street_address
    AS null_address_percentage
FROM
  daily_rolling_count
ORDER BY
  date_added
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(datetime.date(2012, 11, 9), 10, 11, Decimal('0.09090909090909090909')),
 (datetime.date(2012, 11, 10), 22, 24, Decimal('0.08333333333333333333')),
 (datetime.date(2012, 11, 11), 33, 36, Decimal('0.08333333333333333333')),
 (datetime.date(2012, 11, 12), 50, 55, Decimal('0.09090909090909090909')),
 (datetime.date(2012, 11, 13), 71, 78, Decimal('0.08974358974358974359')),
 (datetime.date(2012, 11, 14), 86, 94, Decimal('0.08510638297872340426')),
 (datetime.date(2012, 11, 15), 105, 114, Decimal('0.07894736842105263158')),
 (datetime.date(2012, 11, 16), 118, 128, Decimal('0.07812500000000000000')),
 (datetime.date(2012, 11, 17), 128, 139, Decimal('0.07913669064748201439')),
 (datetime.date(2012, 11, 18), 145, 160, Decimal('0.09375000000000000000'))]

Este resultado te proporcionará la lista del porcentaje acumulativo de direcciones de calle NULL para cada día. Luego, puedes proporcionar el conjunto completo de datos a software de análisis de datos y visualización, como Excel, para estudiar la tendencia general de los datos, descubrir patrones de cambio y hacer sugerencias sobre cómo aumentar la participación de los clientes para la dirección de la empresa.

En este ejercicio, has aprendido cómo usar funciones de ventana para analizar datos. En la siguiente sección, comprenderás cómo utilizar la palabra clave WINDOW en tus consultas.

## La Palabra Clave WINDOW
Ahora que comprendes los conceptos básicos de las funciones de ventana, es hora de introducir una sintaxis que facilitará su escritura. En muchos escenarios, tu análisis implica ejecutar múltiples funciones contra la misma ventana para que puedas compararlos uno al lado del otro, y es muy probable que los ejecutes dentro de la misma consulta. Por ejemplo, cuando estás realizando un análisis basado en género, es posible que desees calcular un total acumulado de clientes y también un total acumulado de clientes con un título, utilizando la misma partición que se basa en el género. Esto te llevará a escribir la siguiente consulta:

In [ ]:
%sql SELECT title FROM customers WHERE customer_id = 2;

 * postgresql://postgres:***@localhost:5432/sqlda
1 rows affected.

[('Dr',)]

In [ ]:
%%sql
-- Figura 5.11: Total acumulado de clientes en general con el título por consulta de ventana de género
SELECT
  customer_id,
  title,
  first_name,
  last_name,
  gender,
  COUNT(*) OVER (
    PARTITION BY gender ORDER BY customer_id  -- OVER 1
  ) as total_customers, -- CUENTA EL TOTAL DE CLIENTES POR GENERO

  SUM(CASE WHEN title IS NOT NULL THEN 1 ELSE 0 END) OVER (. -- COMVIERTE EN BINARIO EL TITLE PARA CONTAR
   PARTITION BY gender ORDER BY customer_id -- OVER 2
  ) as total_customers_title

FROM customers
ORDER BY customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 1, 0),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 1, 1),
 (3, None, 'Braden', 'Jordan', 'M', 2, 1),
 (4, None, 'Jessika', 'Nussen', 'F', 2, 0),
 (5, None, 'Lonnie', 'Rembaud', 'F', 3, 0),
 (6, None, 'Cortie', 'Locksley', 'M', 3, 1),
 (7, None, 'Wood', 'Kennham', 'M', 4, 1),
 (8, None, 'Rutger', 'Humblestone', 'M', 5, 1),
 (9, None, 'Melantha', 'Tibb', 'F', 4, 0),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 5, 1)]

Aunque la consulta te proporciona el resultado, puede ser tedioso de escribir, especialmente la cláusula OVER, ya que es la misma para las dos funciones. Afortunadamente, puedes simplificar esto utilizando la cláusula WINDOW para definir una ventana genérica para varias funciones en la misma consulta. La cláusula WINDOW facilita la asignación de un alias a una ventana.
Puedes simplificar la consulta anterior escribiéndola de la siguiente manera:

In [ ]:
%%sql
SELECT
  customer_id,
  title,
  first_name,
  last_name,
  gender,
  COUNT(*) OVER w as total_customers,
  SUM(
CASE
             WHEN title IS NOT NULL THEN 1
ELSE 0 END
  ) OVER w as total_customers_title
FROM
  customers

-- EXTRAEMOS EL OVER Y LO METEMOS EN LA VENTANA W
WINDOW w AS (
  PARTITION BY gender ORDER BY customer_id
)

ORDER BY customer_id
LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(1, None, 'Arlena', 'Riveles', 'F', 1, 0),
 (2, 'Dr', 'Ode', 'Stovin', 'M', 1, 1),
 (3, None, 'Braden', 'Jordan', 'M', 2, 1),
 (4, None, 'Jessika', 'Nussen', 'F', 2, 0),
 (5, None, 'Lonnie', 'Rembaud', 'F', 3, 0),
 (6, None, 'Cortie', 'Locksley', 'M', 3, 1),
 (7, None, 'Wood', 'Kennham', 'M', 4, 1),
 (8, None, 'Rutger', 'Humblestone', 'M', 5, 1),
 (9, None, 'Melantha', 'Tibb', 'F', 4, 0),
 (10, 'Ms', 'Barbara-anne', 'Gowlett', 'F', 5, 1)]

Esta consulta debería proporcionarte el mismo resultado que puedes ver en la captura de pantalla anterior. Sin embargo, no tuviste que escribir una larga consulta PARTITION BY y ORDER BY para cada función de ventana. En su lugar, simplemente creaste un alias con la ventana definida como "w".

# Estadísticas con Funciones de Ventana
Ahora que comprendes cómo funcionan las funciones de ventana, puedes empezar a usarlas para calcular estadísticas útiles, como rangos, percentiles y estadísticas acumulativas.
En la siguiente tabla, se han resumido una variedad de funciones estadísticas que son útiles. También es importante enfatizar nuevamente que todas las funciones de agregación también pueden utilizarse como funciones de ventana (AVG, SUM, COUNT, y así sucesivamente):

<figure>
<center>

| Name         | Descripción                                                            |
|--------------|------------------------------------------------------------------------|
| ROW_NUMBER   | Numera la fila actual dentro de su partición empezando desde 1.        |
| DENSE_RANK   | Ordena la fila actual dentro de su partición sin espacios.             |
| RANK         | Ordena la fila actual dentro de su partición con espacios.             |
| LAG          | Devuelve un valor evaluado en la fila que está a una distancia específica antes de la fila actual dentro de la partición. |
| LEAD         | Devuelve un valor evaluado en la fila que está a una distancia específica después de la fila actual dentro de la partición. |
| NTILE        | Divide las filas en una partición tan igualmente como sea posible y asigna a cada fila un entero comenzando desde 1 hasta el valor del argumento. |

<figcaption>
Figura 5.12: Funciones estadísticas de ventana.</figcaption></center>
</figure>

Normalmente, una llamada a cualquiera de estas funciones dentro de una declaración SQL irá seguida de la palabra clave OVER. Luego, esta palabra clave será seguida por más palabras clave como PARTITION BY y ORDER BY, siendo cualquiera de ellas opcional dependiendo de la función que estés utilizando.
Por ejemplo, la función ROW_NUMBER() se verá de la siguiente manera:


```sql
ROW_NUMBER () OVER (
PARTITION BY column 1, column 2
ORDER BY column_ 3, column_4
)

```

## Ejercicio 5.02: Clasificación de la Contratación
ZoomZoom desea realizar una campaña de marketing para sus clientes más antiguos en diferentes estados.
- ZoomZoom quiere que escribas una consulta que clasifique a los clientes según su fecha de incorporación (date_added) para cada estado.


1. Clasifica cada cliente, donde 1 se asignará a la primera fecha de incorporación, 2 a la segunda y así sucesivamente, utilizando la función RANK():

In [ ]:
%%sql
SELECT
  customer_id,
  first_name,
  last_name,
  state,
  date_added::DATE,
  ROW_NUMBER() OVER (
  -- NTILE(4) OVER ( -- NTILE en SQL es una función de ventana que distribuye
  -- LAG(customer_id, 1)  OVER (
  -- ROW_NUMBER() OVER (
    PARTITION BY state ORDER BY date_added
  ) AS cust_rank
FROM
  customers
ORDER BY
  state, cust_rank
LIMIT 190;

 * postgresql://postgres:***@localhost:5432/sqlda
190 rows affected.

[(10732, 'Dael', 'Persent', 'AK', datetime.date(2012, 11, 12), 1),
 (35117, 'Jourdain', 'Burnyeat', 'AK', datetime.date(2012, 11, 15), 2),
 (6500, 'Eugenia', 'Iacobacci', 'AK', datetime.date(2012, 11, 22), 3),
 (12603, 'Carce', 'Hubber', 'AK', datetime.date(2012, 11, 23), 4),
 (33836, 'Martie', 'Drinnan', 'AK', datetime.date(2012, 12, 23), 5),
 (18621, 'Pammi', 'Manby', 'AK', datetime.date(2013, 1, 5), 6),
 (45170, 'Dunstan', 'Gooddie', 'AK', datetime.date(2013, 1, 19), 7),
 (35168, 'Tracey', 'Ramstead', 'AK', datetime.date(2013, 1, 20), 8),
 (42141, 'Carlin', 'Hammant', 'AK', datetime.date(2013, 2, 24), 9),
 (14407, 'Cleopatra', 'Ferneyhough', 'AK', datetime.date(2013, 3, 11), 10),
 (15148, 'Audre', 'Shepherd', 'AK', datetime.date(2013, 4, 7), 11),
 (9683, 'Frankie', 'Cowderoy', 'AK', datetime.date(2013, 5, 18), 12),
 (25645, 'Jolee', 'Ferres', 'AK', datetime.date(2013, 6, 7), 13),
 (48023, 'Mable', 'Sowrah', 'AK', datetime.date(2013, 6, 15), 14),
 (31531, 'Kendre', 'Whyberd', 'AK', datetime.date(2013, 7, 7), 15),
 (6946, 'Frederik', 'Bilbrooke', 'AK', datetime.date(2013, 7, 8), 16),
 (31688, 'Jehanna', 'Couper', 'AK', datetime.date(2013, 9, 5), 17),
 (15830, 'Lorne', 'Shurman', 'AK', datetime.date(2013, 9, 18), 18),
 (26169, 'Alberta', 'Leguay', 'AK', datetime.date(2013, 9, 22), 19),
 (18099, 'Bevon', 'Dancy', 'AK', datetime.date(2013, 9, 24), 20),
 (31382, 'Andie', 'Barthram', 'AK', datetime.date(2013, 10, 24), 21),
 (2300, 'Jeanette', 'Gladdis', 'AK', datetime.date(2013, 10, 30), 22),
 (4275, 'Shantee', 'Hammerberger', 'AK', datetime.date(2013, 11, 11), 23),
 (43805, 'Rachael', 'Foxworthy', 'AK', datetime.date(2013, 12, 2), 24),
 (44861, 'Chrissy', 'Coffey', 'AK', datetime.date(2014, 1, 6), 25),
 (27491, 'Tim', 'Bridel', 'AK', datetime.date(2014, 1, 7), 26),
 (861, 'Wayland', 'Rivett', 'AK', datetime.date(2014, 2, 19), 27),
 (18225, 'Armand', 'Simonelli', 'AK', datetime.date(2014, 2, 21), 28),
 (1750, 'Sarena', 'Leist', 'AK', datetime.date(2014, 2, 25), 29),
 (40295, 'Eryn', 'Dowse', 'AK', datetime.date(2014, 3, 22), 30),
 (24302, 'Woodman', 'Emeny', 'AK', datetime.date(2014, 4, 8), 31),
 (22551, 'Kameko', 'McDermid', 'AK', datetime.date(2014, 4, 16), 32),
 (36577, 'Melvyn', 'Teideman', 'AK', datetime.date(2014, 5, 5), 33),
 (43509, 'Colette', 'Ivakhno', 'AK', datetime.date(2014, 5, 24), 34),
 (45049, 'Dickie', 'Peto', 'AK', datetime.date(2014, 6, 8), 35),
 (38434, 'Brandice', 'Berzin', 'AK', datetime.date(2014, 6, 24), 36),
 (43913, 'Charmian', 'Struys', 'AK', datetime.date(2014, 7, 11), 37),
 (35248, 'Isiahi', 'Ortas', 'AK', datetime.date(2014, 7, 13), 38),
 (7301, 'Beck', 'Chezier', 'AK', datetime.date(2014, 8, 9), 39),
 (1053, 'Hyman', 'Crowdy', 'AK', datetime.date(2014, 9, 4), 40),
 (37838, 'Kinnie', 'Woodings', 'AK', datetime.date(2014, 9, 10), 41),
 (29615, 'Eileen', 'Messenger', 'AK', datetime.date(2014, 10, 10), 42),
 (43773, 'Maria', 'Kidwell', 'AK', datetime.date(2014, 10, 10), 43),
 (21729, 'Wilfrid', 'Gotch', 'AK', datetime.date(2014, 11, 19), 44),
 (19032, 'Giorgi', 'Skayman', 'AK', datetime.date(2015, 1, 9), 45),
 (18638, 'Maryjane', 'Grant', 'AK', datetime.date(2015, 1, 20), 46),
 (46614, 'Tasha', 'Simoncelli', 'AK', datetime.date(2015, 1, 31), 47),
 (12673, 'Zelig', 'Andersson', 'AK', datetime.date(2015, 2, 1), 48),
 (30732, 'Johny', 'Wolfendell', 'AK', datetime.date(2015, 2, 12), 49),
 (40054, 'Brose', 'Heller', 'AK', datetime.date(2015, 2, 14), 50),
 (38967, 'Adey', 'Quickenden', 'AK', datetime.date(2015, 2, 20), 51),
 (19944, 'Illa', 'Hayball', 'AK', datetime.date(2015, 2, 27), 52),
 (37900, 'Teresa', 'Potebury', 'AK', datetime.date(2015, 2, 28), 53),
 (23794, 'June', 'Rigglesford', 'AK', datetime.date(2015, 3, 13), 54),
 (26360, 'Gian', 'Arnason', 'AK', datetime.date(2015, 4, 2), 55),
 (18783, 'Faith', 'Kubec', 'AK', datetime.date(2015, 4, 2), 56),
 (4902, 'Felecia', 'Brinkworth', 'AK', datetime.date(2015, 4, 22), 57),
 (6931, 'Evelyn', 'Pycock', 'AK', datetime.date(2015, 5, 3), 58),
 (28200, 'Alisha', 'Minithorpe', 'AK', datetime.date(2015, 6, 13), 59),
 (48571, 'Adolphus', 'Gatrill', 'AK', datetime.date(2015, 7, 3), 60),
 (34467, 'Kimble', 'Gorey', 'AK', datetime.date(2015, 7, 7), 61),
 (49108, 'Farrel', 'Kempster', 'AK', datetime.date(2015, 8, 3), 62),
 (42209, 'Elisabetta', 'Kiddle', 'AK', datetime.date(2015, 8, 8), 63),
 (47324, 'Clive', 'Oddey', 'AK', datetime.date(2015, 10, 13), 64),
 (12445, 'Egor', 'Kitchenham', 'AK', datetime.date(2015, 10, 14), 65),
 (4994, 'Taddeusz', 'McKilroe', 'AK', datetime.date(2015, 11, 11), 66),
 (23285, 'Hobart', 'Ruckhard', 'AK', datetime.date(2015, 11, 24), 67),
 (47217, 'Beauregard', 'Pritchard', 'AK', datetime.date(2015, 11, 29), 68),
 (22231, 'Sally', 'Pietraszek', 'AK', datetime.date(2015, 12, 15), 69),
 (29328, 'Ingemar', 'Petrolli', 'AK', datetime.date(2016, 2, 5), 70),
 (41638, 'Ana', 'Brettor', 'AK', datetime.date(2016, 3, 29), 71),
 (42151, 'Aliza', 'Lumsden', 'AK', datetime.date(2016, 4, 1), 72),
 (4205, 'Trixie', 'Blanche', 'AK', datetime.date(2016, 4, 2), 73),
 (22159, 'Helsa', 'Dudill', 'AK', datetime.date(2016, 4, 3), 74),
 (4856, 'Minor', 'Howsden', 'AK', datetime.date(2016, 5, 15), 75),
 (42498, 'Gerrilee', 'Nutton', 'AK', datetime.date(2016, 7, 16), 76),
 (33407, 'Cherice', 'Scad', 'AK', datetime.date(2016, 8, 8), 77),
 (439, 'Alain', 'Basten', 'AK', datetime.date(2016, 8, 11), 78),
 (32833, 'Arlyne', 'Rotherham', 'AK', datetime.date(2016, 9, 7), 79),
 (42487, 'Christyna', 'McWhannel', 'AK', datetime.date(2016, 9, 24), 80),
 (23112, 'Nickie', 'Rapsey', 'AK', datetime.date(2016, 9, 28), 81),
 (16419, 'Thomasa', 'Thorouggood', 'AK', datetime.date(2016, 9, 30), 82),
 (37576, 'Whit', 'Faye', 'AK', datetime.date(2016, 10, 6), 83),
 (44985, 'Forest', 'Spread', 'AK', datetime.date(2016, 10, 6), 84),
 (32057, 'Karlik', 'Blanking', 'AK', datetime.date(2016, 10, 17), 85),
 (40719, 'Meghan', 'Honniebal', 'AK', datetime.date(2016, 10, 25), 86),
 (28761, 'Sandy', 'Bracken', 'AK', datetime.date(2016, 11, 19), 87),
 (32315, 'Florida', 'Nattriss', 'AK', datetime.date(2016, 11, 19), 88),
 (25004, 'Colline', 'Chipperfield', 'AK', datetime.date(2016, 12, 19), 89),
 (46121, 'Arnaldo', 'Beeston', 'AK', datetime.date(2017, 1, 6), 90),
 (32355, 'Candide', 'Forrest', 'AK', datetime.date(2017, 1, 29), 91),
 (25495, 'Siffre', 'Fasler', 'AK', datetime.date(2017, 2, 10), 92),
 (34225, 'Yoko', 'Winslet', 'AK', datetime.date(2017, 4, 5), 93),
 (39500, 'Lena', 'Brychan', 'AK', datetime.date(2017, 4, 13), 94),
 (1410, 'Chantalle', 'Johananoff', 'AK', datetime.date(2017, 4, 24), 95),
 (8279, 'Oliver', 'Tanslie', 'AK', datetime.date(2017, 5, 26), 96),
 (5034, 'Leslie', 'McDonough', 'AK', datetime.date(2017, 7, 22), 97),
 (9730, 'Omar', 'Trinder', 'AK', datetime.date(2017, 8, 10), 98),
 (20836, 'Iseabal', 'Lockitt', 'AK', datetime.date(2017, 9, 24), 99),
 (29821, 'Mac', 'Burg', 'AK', datetime.date(2017, 9, 30), 100),
 (49114, 'Alric', 'Martelet', 'AK', datetime.date(2017, 10, 15), 101),
 (7197, 'Tandy', 'Pitson', 'AK', datetime.date(2017, 10, 17), 102),
 (3054, 'Ryley', 'Jzhakov', 'AK', datetime.date(2017, 10, 18), 103),
 (23864, 'Maddie', 'Sabey', 'AK', datetime.date(2017, 10, 21), 104),
 (19977, 'Anet', 'Booy', 'AK', datetime.date(2017, 11, 28), 105),
 (4098, 'Moyna', 'Trodler', 'AK', datetime.date(2017, 12, 14), 106),
 (40721, 'Carroll', 'McGuane', 'AK', datetime.date(2017, 12, 22), 107),
 (9684, 'Frasier', 'Kembley', 'AK', datetime.date(2018, 1, 20), 108),
 (12359, 'Nicolea', 'McGowran', 'AK', datetime.date(2018, 2, 4), 109),
 (15527, 'Shawn', 'Ellery', 'AK', datetime.date(2018, 2, 8), 110),
 (24263, 'Wolfie', 'Clapshaw', 'AK', datetime.date(2018, 3, 1), 111),
 (13489, 'Elliot', 'Solon', 'AK', datetime.date(2018, 4, 22), 112),
 (5882, 'Roxanna', 'Qualtro', 'AK', datetime.date(2018, 4, 24), 113),
 (21741, 'Farris', 'Maris', 'AK', datetime.date(2018, 4, 29), 114),
 (22261, 'Conney', 'Sellen', 'AK', datetime.date(2018, 5, 25), 115),
 (21244, 'Lucais', 'Stadden', 'AK', datetime.date(2018, 6, 5), 116),
 (20296, 'Augustine', 'Selby', 'AK', datetime.date(2018, 6, 28), 117),
 (6876, 'Shaina', 'Dhennin', 'AK', datetime.date(2018, 7, 4), 118),
 (40463, 'Willamina', 'Henkmann', 'AK', datetime.date(2018, 9, 15), 119),
 (19789, 'De witt', 'Arundel', 'AK', datetime.date(2018, 9, 25), 120),
 (35094, 'Neda', 'Hazeldine', 'AK', datetime.date(2018, 10, 7), 121),
 (32266, 'Yoshiko', 'Bretelle', 'AK', datetime.date(2018, 10, 21), 122),
 (23456, 'Dora', 'Normanvill', 'AK', datetime.date(2018, 10, 23), 123),
 (2014, 'Edy', 'Liverock', 'AK', datetime.date(2018, 11, 18), 124),
 (22979, 'Miof mela', 'Booty', 'AK', datetime.date(2018, 12, 10), 125),
 (17684, 'Ermentrude', 'Sleite', 'AK', datetime.date(2019, 1, 7), 126),
 (308, 'Rollo', 'McCerery', 'AK', datetime.date(2019, 1, 20), 127),
 (24405, 'Sidonia', 'Heiden', 'AK', datetime.date(2019, 2, 22), 128),
 (23372, 'Maryann', 'Domenichini', 'AK', datetime.date(2019, 4, 7), 129),
 (912, 'Jocko', "O'Brollachain", 'AK', datetime.date(2019, 4, 11), 130),
 (20461, 'Zitella', 'Epinoy', 'AK', datetime.date(2019, 4, 15), 131),
 (12886, 'Zacharias', 'Veal', 'AK', datetime.date(2019, 4, 24), 132),
 (28956, 'Lisha', 'Hammer', 'AK', datetime.date(2019, 5, 1), 133),
 (12724, 'Vladamir', 'Klemencic', 'AK', datetime.date(2019, 5, 4), 134),
 (13204, 'Vittoria', 'Tierny', 'AK', datetime.date(2019, 6, 2), 135),
 (7461, 'Joseph', 'Mackrill', 'AK', datetime.date(2019, 7, 13), 136),
 (48758, 'Leroi', 'Rawlin', 'AK', datetime.date(2019, 7, 26), 137),
 (35301, 'Abey', 'Nurcombe', 'AK', datetime.date(2019, 7, 27), 138),
 (18691, 'Clemmie', 'Cicco', 'AK', datetime.date(2019, 8, 30), 139),
 (48208, 'Pier', 'Sarjent', 'AK', datetime.date(2019, 9, 17), 140),
 (10013, 'Chaunce', 'Preshaw', 'AK', datetime.date(2019, 9, 23), 141),
 (35795, 'Sanderson', 'Ticic', 'AK', datetime.date(2019, 10, 14), 142),
 (6550, 'Aloin', 'Liverseege', 'AK', datetime.date(2019, 10, 14), 143),
 (42240, 'Hyacinthia', 'Ghost', 'AK', datetime.date(2019, 10, 20), 144),
 (7948, 'Elyn', 'Anyene', 'AK', datetime.date(2019, 11, 14), 145),
 (47766, 'Florence', 'Shave', 'AK', datetime.date(2019, 12, 4), 146),
 (24224, 'Lucas', 'Tonks', 'AK', datetime.date(2019, 12, 9), 147),
 (2163, 'Donnajean', 'Kirwan', 'AK', datetime.date(2020, 2, 17), 148),
 (47853, 'Donnie', 'Sapena', 'AK', datetime.date(2020, 3, 1), 149),
 (33723, 'Thorvald', 'Benko', 'AK', datetime.date(2020, 4, 20), 150),
 (21547, 'Bettye', 'Ive', 'AK', datetime.date(2020, 5, 24), 151),
 (5352, 'Hilario', 'Verrier', 'AK', datetime.date(2020, 6, 26), 152),
 (11322, 'Toiboid', 'Devany', 'AK', datetime.date(2020, 7, 4), 153),
 (4395, 'Shay', 'Cattrall', 'AK', datetime.date(2020, 7, 20), 154),
 (30976, 'Shannon', 'MacFadin', 'AK', datetime.date(2020, 8, 28), 155),
 (12838, 'Taylor', 'Ham', 'AK', datetime.date(2020, 9, 13), 156),
 (294, 'Egan', 'Benn', 'AK', datetime.date(2020, 9, 22), 157),
 (14531, 'Delinda', 'Peasgood', 'AK', datetime.date(2020, 10, 23), 158),
 (41899, 'Abbye', 'Birchenough', 'AK', datetime.date(2020, 11, 12), 159),
 (33204, 'Becki', 'Tanti', 'AK', datetime.date(2020, 11, 14), 160),
 (43796, 'Rebeca', 'Tudball', 'AK', datetime.date(2020, 11, 29), 161),
 (2468, 'Carolin', 'Gillean', 'AK', datetime.date(2021, 1, 3), 162),
 (23691, 'Eziechiele', 'Willock', 'AK', datetime.date(2021, 1, 3), 163),
 (16896, 'Krisha', 'Hardiman', 'AK', datetime.date(2021, 1, 15), 164),
 (25109, 'Amalee', 'McGeown', 'AK', datetime.date(2021, 2, 5), 165),
 (6744, 'Shelba', 'Routh', 'AK', datetime.date(2021, 2, 15), 166),
 (18804, 'Correna', 'Witton', 'AK', datetime.date(2021, 2, 18), 167),
 (42957, 'Orion', 'Cruft', 'AK', datetime.date(2021, 3, 19), 168),
 (26642, 'Huntley', 'Coggeshall', 'AK', datetime.date(2021, 3, 26), 169),
 (30632, 'Adolph', 'Barks', 'AK', datetime.date(2021, 3, 27), 170),
 (38280, 'Duky', 'Swires', 'AK', datetime.date(2021, 4, 14), 171),
 (28445, 'Dulsea', 'Sumnall', 'AK', datetime.date(2021, 4, 14), 172),
 (22616, 'Chad', 'Tyrie', 'AK', datetime.date(2021, 4, 18), 173),
 (6764, 'Jenda', 'Greatland', 'AK', datetime.date(2021, 5, 9), 174),
 (38561, 'Reggi', 'Scoles', 'AK', datetime.date(2021, 5, 12), 175),
 (17130, 'Phillipp', 'Beadnall', 'AK', datetime.date(2021, 6, 13), 176),
 (45239, 'Raphaela', 'Jaggs', 'AK', datetime.date(2021, 6, 28), 177),
 (27666, 'Annie', 'Mizzi', 'AK', datetime.date(2021, 6, 29), 178),
 (49452, 'Mabel', 'Dawber', 'AK', datetime.date(2021, 7, 2), 179),
 (41119, 'Gypsy', 'Baker', 'AK', datetime.date(2021, 7, 4), 180),
 (25995, 'Ruthann', 'Sedcole', 'AK', datetime.date(2021, 8, 21), 181),
 (7835, 'Dore', 'Loxston', 'AK', datetime.date(2021, 8, 21), 182),
 (35808, 'Ulises', 'Bleakley', 'AK', datetime.date(2021, 8, 24), 183),
 (22686, 'Frieda', 'Blabey', 'AK', datetime.date(2021, 9, 8), 184),
 (18809, 'Lanae', 'Gockelen', 'AK', datetime.date(2021, 9, 14), 185),
 (26576, 'Dylan', 'Pratley', 'AK', datetime.date(2021, 10, 2), 186),
 (13565, 'Berton', 'Albinson', 'AK', datetime.date(2021, 12, 22), 187),
 (25194, 'Weider', 'Scottrell', 'AK', datetime.date(2022, 1, 27), 188),
 (731, 'Lancelot', 'Nunes Nabarro', 'AL', datetime.date(2012, 11, 12), 1),
 (32856, 'Solly', 'Marielle', 'AL', datetime.date(2012, 11, 13), 2)]

Aquí puedes ver a cada cliente con su información y rango en la columna "cust_rank" basado en su fecha de incorporación para cada estado.

En este ejercicio, utilizaste la función RANK() para clasificar los datos en un conjunto de datos en un orden específico. En la próxima sección, aprenderás cómo utilizar el Window Frame

# Window Frame

Como se mencionó en las secciones anteriores donde se discuten los fundamentos de las funciones de ventana, por defecto, se establece una ventana para cada grupo de valores que abarca todas las filas desde la primera hasta la fila actual en la partición, como se muestra en la Figura 5.6. Sin embargo, esto es lo predeterminado y se puede ajustar utilizando la cláusula de intervalo de ventana. Una consulta de función de ventana que utiliza la cláusula de intervalo de ventana se vería de la siguiente manera:


```sql
SELECT
  {columns},
  {window_func} OVER (
    PARTITION BY {partition_key}
    ORDER BY {order_key}
    {rangeorrows} BETWEEN {frame_start} AND {frame_end}
) FROM
{table1};
```

Aquí, {columnas} son las columnas que deseas recuperar de las tablas para la consulta, {función_de_ventana} es la función de ventana que deseas utilizar, {clave_de_partición} es la columna o columnas en las que deseas particionar, {clave_de_orden} es la columna o columnas por las que deseas ordenar, {rango_o_filas} es ya sea la palabra clave RANGE o la palabra clave ROWS, {inicio_del_marco} es una palabra clave que indica dónde comenzar el marco de ventana, {fin_del_marco} es una palabra clave que indica dónde terminar el marco de ventana y {tabla1} es la tabla o tablas unidas de las que deseas obtener datos.

Es importante considerar los posibles valores de {frame_start} y {frame_end}. Estos pueden ser:
- **UNBOUNDED PRECEDING**: Para {frame_start}, hace referencia al primer registro de la partición.
- **{offset} PRECEDING**: Indica {offset} filas o rangos antes de la fila actual.
- **CURRENT ROW**: Corresponde a la fila actual.
- **{offset} FOLLOWING**: Señala {offset} filas o rangos después de la fila actual.
- **UNBOUNDED FOLLOWING**: Para {frame_end}, se refiere al último registro de la partición.

Al ajustar la ventana, podemos derivar estadísticas valiosas como el **promedio móvil**. Este se refiere al promedio de una métrica en un intervalo de tiempo específico. Si, por ejemplo, quieres obtener el promedio móvil de ventas de siete días para ZoomZoom, comienza sumando las ventas diarias usando SUM y agrupándolas por `sales_transaction_date`. Esto generará una lista de ventas por día. Al ordenar la lista por fecha, tendrás una ventana móvil de siete días tomando la fila actual y las seis anteriores. Calculando el AVG de estas siete entradas, obtendrás el promedio móvil deseado para ese día.

La consulta para realizar esta operación es la siguiente:

In [ ]:
%%sql
WITH
  daily_sales as (
    SELECT
      sales_transaction_date::DATE,
      SUM(sales_amount) as total_sales
    FROM sales
    GROUP BY 1
  ),
  moving_average_calculation_7 AS (
    SELECT
      sales_transaction_date,
      total_sales,
      AVG(total_sales) OVER (
        ORDER BY sales_transaction_date
        ROWS BETWEEN 6 PRECEDING and CURRENT ROW -- USAMOS UN WINDOWS FRAME
      ) AS sales_moving_average_7,
      ROW_NUMBER() OVER (
        ORDER BY sales_transaction_date
      ) as row_number
    FROM
      daily_sales
    ORDER BY 1
  )
SELECT
  sales_transaction_date,
  CASE
    WHEN row_number>=7 THEN sales_moving_average_7
    ELSE NULL
  END AS sales_moving_average_7
FROM
  moving_average_calculation_7
  LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(datetime.date(2012, 11, 4), None),
 (datetime.date(2012, 11, 6), None),
 (datetime.date(2012, 11, 9), None),
 (datetime.date(2012, 11, 11), None),
 (datetime.date(2012, 11, 12), None),
 (datetime.date(2012, 11, 13), None),
 (datetime.date(2012, 11, 15), 394.2758571428571),
 (datetime.date(2012, 11, 17), 399.99000000000007),
 (datetime.date(2012, 11, 18), 399.99000000000007),
 (datetime.date(2012, 11, 19), 399.99000000000007)]

Al trabajar con una ventana móvil de N días, surge la duda sobre cómo tratar los primeros N-1 días en la columna ordenada. En la consulta que vimos, las primeras seis entradas se marcan como nulas mediante una declaración CASE. Esto se debe a que el promedio móvil de siete días requiere datos de siete días completos. Sin esa declaración, la ventana calcularía promedios para los primeros días basándose en los datos disponibles. Así, el promedio móvil para el segundo día sería la media entre ese día y el anterior, y para el sexto día, el promedio de esos seis días. Ambos enfoques, ya sea usando nulos o promediando los días disponibles, pueden ser válidos según el contexto. Será tarea del analista decidir cuál es más adecuado según la situación específica.

# Ejercicio 5.03: Motivación para el Almuerzo en Equipo
En esta tarea, emplearás un marco de ventana para extraer información valiosa de tus datos.

Con el objetivo de impulsar las ventas, el equipo ha optado por ofrecer un almuerzo a todos los vendedores cada vez que superen el récord de ganancias diarias de los últimos 30 días. Necesitas una consulta que muestre las ventas totales en dólares de un día específico y la meta de ventas que deben superar ese día, a partir del 1 de enero de 2019.

1. Calcula las ventas totales para un día dado

In [5]:
%%sql
WITH
  daily_sales as (
    SELECT
      sales_transaction_date::DATE,
      SUM(sales_amount) as total_sales
    FROM
      sales
    GROUP BY
      1
  ),
  sales_stats_30 AS (
    SELECT
      sales_transaction_date,
      total_sales,
      MAX(total_sales) OVER (
        ORDER BY sales_transaction_date
        ROWS BETWEEN 30 PRECEDING and 1 PRECEDING
      ) AS max_sales_30
    FROM
      daily_sales
    ORDER BY
      1
  )
SELECT
  sales_transaction_date,
  to_char(total_sales, 'FM999G999G999D99') total_sales,
  to_char(max_sales_30, 'FM999G999G999D99') max_sales_30
FROM
  sales_stats_30
WHERE
  sales_transaction_date>='2019-01-01'
LIMIT 40;

 * postgresql://postgres:***@localhost:5432/sqlda
40 rows affected.

[(datetime.date(2019, 1, 1), '6,249.87', '546,899.89'),
 (datetime.date(2019, 1, 2), '119,599.91', '546,899.89'),
 (datetime.date(2019, 1, 3), '71,799.87', '546,899.89'),
 (datetime.date(2019, 1, 4), '130,649.88', '546,899.89'),
 (datetime.date(2019, 1, 5), '6,649.87', '546,899.89'),
 (datetime.date(2019, 1, 6), '73,049.85', '546,899.89'),
 (datetime.date(2019, 1, 7), '122,049.86', '546,899.89'),
 (datetime.date(2019, 1, 8), '197,749.84', '546,899.89'),
 (datetime.date(2019, 1, 9), '5,399.89', '546,899.89'),
 (datetime.date(2019, 1, 10), '252,899.86', '546,899.89'),
 (datetime.date(2019, 1, 11), '164,349.86', '546,899.89'),
 (datetime.date(2019, 1, 12), '215,599.83', '546,899.89'),
 (datetime.date(2019, 1, 13), '348,899.92', '546,899.89'),
 (datetime.date(2019, 1, 14), '274,749.92', '546,899.89'),
 (datetime.date(2019, 1, 15), '136,149.9', '546,899.89'),
 (datetime.date(2019, 1, 16), '5,699.89', '546,899.89'),
 (datetime.date(2019, 1, 17), '203,299.86', '546,899.89'),
 (datetime.date(2019, 1, 18), '119,849.9', '546,899.89'),
 (datetime.date(2019, 1, 19), '356,499.83', '546,899.89'),
 (datetime.date(2019, 1, 20), '163,249.85', '546,899.89'),
 (datetime.date(2019, 1, 21), '213,499.87', '546,899.89'),
 (datetime.date(2019, 1, 22), '351,649.92', '546,899.89'),
 (datetime.date(2019, 1, 23), '303,199.9', '546,899.89'),
 (datetime.date(2019, 1, 24), '278,199.85', '546,899.89'),
 (datetime.date(2019, 1, 25), '190,349.86', '546,899.89'),
 (datetime.date(2019, 1, 26), '237,149.91', '546,899.89'),
 (datetime.date(2019, 1, 27), '334,949.83', '546,899.89'),
 (datetime.date(2019, 1, 28), '300,299.9', '546,899.89'),
 (datetime.date(2019, 1, 29), '74,349.82', '546,899.89'),
 (datetime.date(2019, 1, 30), '357,099.82', '546,899.89'),
 (datetime.date(2019, 1, 31), '75,049.81', '357,099.82'),
 (datetime.date(2019, 2, 1), '405,149.9', '357,099.82'),
 (datetime.date(2019, 2, 2), '258,149.76', '405,149.9'),
 (datetime.date(2019, 2, 3), '514,299.76', '405,149.9'),
 (datetime.date(2019, 2, 4), '357,549.75', '514,299.76'),
 (datetime.date(2019, 2, 5), '290,049.85', '514,299.76'),
 (datetime.date(2019, 2, 6), '121,199.88', '514,299.76'),
 (datetime.date(2019, 2, 7), '122,599.85', '514,299.76'),
 (datetime.date(2019, 2, 8), '411,099.85', '514,299.76'),
 (datetime.date(2019, 2, 9), '60,599.84', '514,299.76')]

Observa el uso de un marco de ventana que va desde 30 PRECEDING hasta 1 PRECEDING. Al utilizar 1 PRECEDING, estás excluyendo la fila actual del cálculo. El resultado es un máximo móvil de 30 días en los 30 días anteriores al día actual.

2. Ahora calcularás las ventas totales de cada día y las compararás con el objetivo de ese día, que es el promedio móvil de 30 días que calculaste en el paso anterior. Las ventas totales de cada día ya se han calculado en el SQL anterior en la primera expresión de tabla común y se hacen referencia más adelante en la consulta principal. Por lo tanto, puedes escribir el siguiente SQL:

In [ ]:
%%sql
WITH
  daily_sales as (
    SELECT
      sales_transaction_date::DATE,
      SUM(sales_amount) as total_sales
    FROM sales
    GROUP BY 1
  ),
  sales_stats_30 AS (
    SELECT
      sales_transaction_date,
      total_sales,
      MAX(total_sales) OVER (
        ORDER BY sales_transaction_date
        ROWS BETWEEN 30 PRECEDING and 1 PRECEDING
      ) AS max_sales_30
    FROM
      daily_sales
    ORDER BY 1
  )
SELECT
  sales_transaction_date,
  to_char(total_sales, 'FM999G999G999D99') total_sales,
  to_char(max_sales_30, 'FM999G999G999D99') max_sales_30
FROM
  sales_stats_30
WHERE
  total_sales > max_sales_30 -- DIFERENCia
AND
  sales_transaction_date>='2019-01-01';

 * postgresql://postgres:***@localhost:5432/sqlda
29 rows affected.

[(datetime.date(2019, 2, 1), '405,149.9', '357,099.82'),
 (datetime.date(2019, 2, 3), '514,299.76', '405,149.9'),
 (datetime.date(2019, 3, 10), '574,449.84', '484,599.83'),
 (datetime.date(2019, 7, 12), '356,129.79', '304,959.83'),
 (datetime.date(2019, 8, 31), '338,629.91', '245,659.88'),
 (datetime.date(2019, 10, 22), '268,354.9', '237,889.85'),
 (datetime.date(2019, 10, 27), '470,234.88', '268,354.9'),
 (datetime.date(2019, 12, 27), '393,599.77', '344,879.81'),
 (datetime.date(2019, 12, 28), '657,459.82', '393,599.77'),
 (datetime.date(2020, 2, 8), '740,254.8', '387,994.82'),
 (datetime.date(2020, 5, 6), '411,539.8', '374,689.79'),
 (datetime.date(2020, 5, 13), '440,719.75', '411,539.8'),
 (datetime.date(2020, 6, 16), '423,499.84', '352,679.79'),
 (datetime.date(2020, 8, 11), '364,079.84', '308,389.82'),
 (datetime.date(2020, 9, 15), '335,149.86', '309,989.86'),
 (datetime.date(2020, 9, 29), '367,519.85', '335,149.86'),
 (datetime.date(2020, 10, 26), '434,739.86', '367,519.85'),
 (datetime.date(2020, 12, 1), '458,759.78', '337,559.86'),
 (datetime.date(2020, 12, 10), '688,559.78', '458,759.78'),
 (datetime.date(2021, 1, 20), '557,229.68', '513,254.79'),
 (datetime.date(2021, 2, 27), '637,369.74', '536,034.79'),
 (datetime.date(2021, 4, 13), '567,019.71', '490,459.82'),
 (datetime.date(2021, 6, 12), '418,959.82', '392,479.83'),
 (datetime.date(2021, 6, 27), '498,889.81', '418,959.82'),
 (datetime.date(2021, 10, 16), '247,094.88', '233,649.8'),
 (datetime.date(2021, 10, 23), '264,444.85', '247,094.88'),
 (datetime.date(2021, 11, 5), '287,079.76', '264,444.85'),
 (datetime.date(2021, 11, 24), '379,414.8', '287,079.76'),
 (datetime.date(2021, 11, 28), '445,259.71', '379,414.8')]

Como puedes ver, los marcos de ventana facilitan el cálculo de estadísticas móviles y, incluso, pueden resultar divertidos. Ahora, concluirás este capítulo con una actividad que pondrá a prueba tu capacidad para utilizar funciones de ventana.

# Actividad 5.01: Análisis de Ventas Utilizando Marcos de Ventana y Funciones de Ventana
En esta tarea, aplicarás funciones de windows y frames de variadas formas para analizar los datos de ventas de ZoomZoom.

Al inicio del año, es esencial definir la estrategia de ventas para el próximo periodo.
El equipo quiere comprender el desempeño global de la empresa y el rendimiento específico de cada día del año. Por ello, el Jefe de Ventas te ha solicitado llevar a cabo este análisis.

1. Calcula el monto total de ventas por día para todos los días del año 2021 (es decir, antes del 1 de enero de 2022).

In [6]:
%%sql
SELECT
  sales_transaction_date::date,
  SUM(sales_amount) sales_amount
FROM sales
WHERE
  sales_transaction_date::date BETWEEN '20210101' AND '20211231'
GROUP BY
  sales_transaction_date::date LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(datetime.date(2021, 1, 1), 320739.70100000006),
 (datetime.date(2021, 1, 2), 248239.73599999998),
 (datetime.date(2021, 1, 3), 213419.72799999994),
 (datetime.date(2021, 1, 4), 378919.7169999999),
 (datetime.date(2021, 1, 5), 331084.6939999999),
 (datetime.date(2021, 1, 6), 90089.649),
 (datetime.date(2021, 1, 7), 426449.7289999998),
 (datetime.date(2021, 1, 8), 183449.789),
 (datetime.date(2021, 1, 9), 513254.7929999999),
 (datetime.date(2021, 1, 10), 307994.72699999984)]



2. Calcula el promedio móvil de 30 días para el monto total de ventas diarias.

In [ ]:
%%sql
WITH
  daily_sales as (
    SELECT
      sales_transaction_date::date,
      SUM(sales_amount) sales_amount
    FROM
      sales
    WHERE
      sales_transaction_date::date BETWEEN '20210101' AND '20211231'
    GROUP BY
      sales_transaction_date::date
  )
SELECT
  sales_transaction_date,
  sales_amount,
  AVG(sales_amount) OVER w AS moving_avg
FROM
  daily_sales
WINDOW w AS (
  ORDER BY sales_transaction_date
  ROWS BETWEEN 30 PRECEDING AND 1 PRECEDING
)
ORDER BY 1 LIMIT 10;

 * postgresql://postgres:***@localhost:5432/sqlda
10 rows affected.

[(datetime.date(2021, 1, 1), 320739.70100000006, None),
 (datetime.date(2021, 1, 2), 248239.73599999998, 320739.70100000006),
 (datetime.date(2021, 1, 3), 213419.72799999994, 284489.7185),
 (datetime.date(2021, 1, 4), 378919.7169999999, 260799.72166666668),
 (datetime.date(2021, 1, 5), 331084.6939999999, 290329.7205),
 (datetime.date(2021, 1, 6), 90089.649, 298480.7152),
 (datetime.date(2021, 1, 7), 426449.7289999998, 263748.8708333333),
 (datetime.date(2021, 1, 8), 183449.789, 286991.85057142854),
 (datetime.date(2021, 1, 9), 513254.7929999999, 274049.092875),
 (datetime.date(2021, 1, 10), 307994.72699999984, 300627.50399999996)]

3. Calcula en qué décil estaría cada fecha en comparación con otros días en función del monto total de ventas diarias en el promedio móvil de 30 días.

<figure>
<center><img src='https://github.com/limspiga/data-modeling/blob/main/images/8a310b4d-6704-43b5-aeae-9b5a5d721847.png?raw=true' width="600" />
<figcaption>
Figura 5.12: Funciones de ventana estadísticas.</figcaption></center>
</figure>


Figura 5.17: Déciles para el monto de ventas del concesionario
En esta actividad, utilizaste funciones de ventana para obtener la tendencia de ventas de todo tu año y utilizaste esta tendencia de ventas para identificar los días en los que ZoomZoom está funcionando bien o no tan bien.

In [ ]:
%%sql
WITH
  daily_sales as (
    SELECT
      sales_transaction_date::date,
      SUM(sales_amount) sales_amount
    FROM
      sales
    WHERE
      sales_transaction_date::date BETWEEN '20210101' AND '20211231'
    GROUP BY
      sales_transaction_date::date
  ),
  moving_avg AS (
    SELECT
      sales_transaction_date,
      sales_amount,
      AVG(sales_amount) OVER w AS moving_avg
    FROM
      daily_sales
    WINDOW w AS (
      ORDER BY sales_transaction_date
      ROWS BETWEEN 30 PRECEDING AND 1 PRECEDING
    )
  )
SELECT
  sales_transaction_date,
  sales_amount,
  moving_avg,
  -- PostgreSQL no tiene una función DECILE, pero cuenta con una función
  -- más general llamada NTILE() que puedes utilizar. NTILE(10)
  -- es el equivalente de DECILE().
  NTILE(10) OVER (ORDER BY moving_avg DESC) AS decile
FROM
  moving_avg m
WHERE
  moving_avg IS NOT NULL
ORDER BY
  decile;

 * postgresql://postgres:***@localhost:5432/sqlda
364 rows affected.

[(datetime.date(2021, 1, 2), 248239.73599999998, 320739.70100000006, 1),
 (datetime.date(2021, 1, 12), 164189.76699999996, 313294.72081818176, 1),
 (datetime.date(2021, 1, 11), 432599.66599999997, 301364.2263, 1),
 (datetime.date(2021, 1, 13), 12829.790999999997, 300869.30799999996, 1),
 (datetime.date(2021, 1, 10), 307994.72699999984, 300627.50399999996, 1),
 (datetime.date(2021, 1, 6), 90089.649, 298480.7152, 1),
 (datetime.date(2021, 2, 6), 50389.734999999986, 293352.5650333333, 1),
 (datetime.date(2021, 1, 5), 331084.6939999999, 290329.7205, 1),
 (datetime.date(2021, 2, 2), 161009.56200000003, 288809.9029333333, 1),
 (datetime.date(2021, 2, 3), 275539.70199999993, 287062.8974, 1),
 (datetime.date(2021, 1, 8), 183449.789, 286991.85057142854, 1),
 (datetime.date(2021, 2, 5), 312554.685, 285937.06383333326, 1),
 (datetime.date(2021, 1, 3), 213419.72799999994, 284489.7185, 1),
 (datetime.date(2021, 2, 4), 400689.7019999998, 283616.89689999993, 1),
 (datetime.date(2021, 1, 29), 229079.76699999996, 281014.7344285714, 1),
 (datetime.date(2021, 2, 7), 12709.779999999999, 280817.23189999996, 1),
 (datetime.date(2021, 3, 19), 261699.6079999999, 279505.3776666666, 1),
 (datetime.date(2021, 1, 30), 253264.66699999996, 279223.8734827586, 1),
 (datetime.date(2021, 2, 1), 536034.7929999998, 279216.73436666664, 1),
 (datetime.date(2021, 1, 14), 108059.76200000003, 278712.4220769231, 1),
 (datetime.date(2021, 1, 31), 346484.73399999994, 278358.56659999996, 1),
 (datetime.date(2021, 3, 16), 297969.60299999977, 277742.2141666666, 1),
 (datetime.date(2021, 3, 18), 248179.79299999998, 277530.87763333326, 1),
 (datetime.date(2021, 3, 17), 217469.71499999997, 276911.20853333327, 1),
 (datetime.date(2021, 1, 16), 268244.8109999999, 276875.0686, 1),
 (datetime.date(2021, 3, 20), 89799.68500000007, 276830.87389999995, 1),
 (datetime.date(2021, 3, 15), 242904.73399999997, 276778.04596666654, 1),
 (datetime.date(2021, 1, 17), 16939.724000000002, 276335.6775, 1),
 (datetime.date(2021, 2, 18), 117149.71300000006, 276195.89063333324, 1),
 (datetime.date(2021, 3, 21), 238979.68999999997, 275919.2062999999, 1),
 (datetime.date(2021, 3, 13), 16749.719999999998, 275677.3758999999, 1),
 (datetime.date(2021, 1, 21), 96669.81400000004, 275438.73449999996, 1),
 (datetime.date(2021, 2, 8), 433819.78699999995, 275125.8982666666, 1),
 (datetime.date(2021, 1, 9), 513254.7929999999, 274049.092875, 1),
 (datetime.date(2021, 1, 28), 471704.7319999998, 273952.1419259259, 1),
 (datetime.date(2021, 2, 17), 341934.72099999984, 273869.39113333327, 1),
 (datetime.date(2021, 2, 14), 322899.77199999994, 273744.89476666664, 1),
 (datetime.date(2021, 1, 26), 139389.72999999998, 273044.13651999994, 2),
 (datetime.date(2021, 2, 26), 208989.61999999988, 272681.7213666666, 2),
 (datetime.date(2021, 2, 9), 81829.72700000001, 272478.06473333325, 2),
 (datetime.date(2021, 2, 19), 355599.74500000005, 272064.39079999994, 2),
 (datetime.date(2021, 3, 1), 82569.71100000001, 272037.3854999999, 2),
 (datetime.date(2021, 3, 22), 138519.70599999995, 272031.87113333336, 2),
 (datetime.date(2021, 3, 29), 150299.74899999998, 271685.5309, 2),
 (datetime.date(2021, 1, 25), 305789.77599999984, 271679.73487499997, 2),
 (datetime.date(2021, 3, 23), 151389.65200000003, 271433.20119999995, 2),
 (datetime.date(2021, 2, 22), 254979.73199999993, 270898.7259333333, 2),
 (datetime.date(2021, 2, 28), 266309.75099999993, 270796.38603333326, 2),
 (datetime.date(2021, 3, 26), 180879.57499999987, 270596.0356333333, 2),
 (datetime.date(2021, 2, 15), 198879.6419999999, 270448.0611666666, 2),
 (datetime.date(2021, 2, 13), 213979.68799999994, 270214.23056666664, 2),
 (datetime.date(2021, 3, 12), 471189.6739999998, 269760.37883333326, 2),
 (datetime.date(2021, 2, 23), 256189.672, 269205.72549999994, 2),
 (datetime.date(2021, 3, 25), 312604.7569999999, 268715.5328, 2),
 (datetime.date(2021, 1, 24), 351809.736, 268195.8217826087, 2),
 (datetime.date(2021, 2, 16), 188944.79199999996, 268135.8888666666, 2),
 (datetime.date(2021, 1, 27), 431214.68899999984, 267903.5824230769, 2),
 (datetime.date(2021, 3, 27), 357394.5819999997, 267711.8649333333, 2),
 (datetime.date(2021, 2, 21), 364139.65299999993, 267337.0592333333, 2),
 (datetime.date(2021, 3, 28), 348479.767, 267035.8593333333, 2),
 (datetime.date(2021, 1, 22), 257289.652, 266925.92876190477, 2),
 (datetime.date(2021, 1, 15), 421804.77999999985, 266522.9463571428, 2),
 (datetime.date(2021, 1, 23), 305769.745, 266487.9161818182, 2),
 (datetime.date(2021, 3, 14), 490459.81899999996, 266365.8766333332, 2),
 (datetime.date(2021, 3, 10), 342929.68199999986, 266357.0504333333, 2),
 (datetime.date(2021, 3, 2), 259099.63100000008, 266347.5536333333, 2),
 (datetime.date(2021, 2, 24), 267404.69599999994, 266018.39003333333, 2),
 (datetime.date(2021, 4, 8), 209124.69299999994, 265612.69639999996, 2),
 (datetime.date(2021, 2, 20), 156479.80399999997, 265343.3929, 2),
 (datetime.date(2021, 2, 27), 637369.7409999999, 265274.2190666666, 2),
 (datetime.date(2021, 2, 10), 293679.7619999998, 264939.23139999993, 2),
 (datetime.date(2021, 2, 25), 377674.7499999999, 264738.88736666663, 2),
 (datetime.date(2021, 2, 12), 178094.739, 264705.3989666666, 2),
 (datetime.date(2021, 3, 24), 386199.6809999998, 264341.5345, 2),
 (datetime.date(2021, 4, 7), 258894.73199999984, 263944.8619333333, 3),
 (datetime.date(2021, 1, 7), 426449.7289999998, 263748.8708333333, 3),
 (datetime.date(2021, 3, 3), 256384.71099999992, 263434.7168666666, 3),
 (datetime.date(2021, 4, 4), 162424.66099999985, 263355.3620666667, 3),
 (datetime.date(2021, 3, 11), 274819.6839999999, 263327.38026666665, 3),
 (datetime.date(2021, 4, 6), 286349.709, 262762.1964, 3),
 (datetime.date(2021, 4, 1), 135449.65899999996, 262492.8624, 3),
 (datetime.date(2021, 4, 9), 226849.68800000002, 262359.361, 3),
 (datetime.date(2021, 4, 23), 186339.66299999994, 261985.8705666666, 3),
 (datetime.date(2021, 1, 19), 241094.70799999993, 261691.68333333332, 3),
 (datetime.date(2021, 4, 14), 109799.73600000005, 261426.3604333332, 3),
 (datetime.date(2021, 1, 18), 272139.73599999986, 261077.092, 3),
 (datetime.date(2021, 1, 4), 378919.7169999999, 260799.72166666668, 3),
 (datetime.date(2021, 3, 6), 177199.6919999999, 260780.05089999997, 3),
 (datetime.date(2021, 1, 20), 557229.6819999999, 260607.63199999998, 3),
 (datetime.date(2021, 2, 11), 296094.698, 260308.56793333328, 3),
 (datetime.date(2021, 4, 13), 567019.7079999999, 258874.3641333333, 3),
 (datetime.date(2021, 4, 10), 135129.75999999998, 258490.02786666664, 3),
 (datetime.date(2021, 4, 2), 236419.69500000004, 258371.19666666666, 3),
 (datetime.date(2021, 4, 3), 365289.68299999984, 257705.69613333332, 3),
 (datetime.date(2021, 4, 17), 140599.665, 257079.36933333325, 3),
 (datetime.date(2021, 4, 15), 290439.84599999996, 256989.52716666658, 3),
 (datetime.date(2021, 4, 16), 227694.73699999994, 256738.5352666666, 3),
 (datetime.date(2021, 3, 9), 306724.755, 256556.55126666662, 3),
 (datetime.date(2021, 3, 31), 261979.68099999995, 256512.53006666666, 3),
 (datetime.date(2021, 4, 22), 317819.6339999998, 256438.20449999996, 3),
 (datetime.date(2021, 3, 30), 298189.71799999994, 255449.8645, 3),
 (datetime.date(2021, 4, 24), 118349.76500000004, 255323.8699666666, 3),
 (datetime.date(2021, 3, 5), 440759.66199999984, 255272.71889999995, 3),
 (datetime.date(2021, 3, 4), 195799.70499999996, 254113.04746666664, 3),
 (datetime.date(2021, 4, 5), 437739.7229999999, 254077.5287, 3),
 (datetime.date(2021, 4, 11), 430889.79000000004, 253833.69706666662, 3),
 (datetime.date(2021, 4, 18), 234509.7749999999, 253493.3650666666, 3),
 (datetime.date(2021, 3, 7), 250869.74300000005, 253330.38389999996, 3),
 (datetime.date(2021, 4, 20), 232509.7009999999, 252606.2072333333, 3),
 (datetime.date(2021, 4, 19), 90374.78300000004, 252587.03729999997, 3),
 (datetime.date(2021, 4, 12), 208269.61599999992, 252490.36759999994, 3),
 (datetime.date(2021, 4, 21), 259949.61299999987, 252390.5409333333, 4),
 (datetime.date(2021, 3, 8), 208859.69800000003, 251274.21916666662, 4),
 (datetime.date(2021, 4, 25), 52969.69799999999, 248848.7035666666, 4),
 (datetime.date(2021, 4, 26), 15499.746, 244585.04099999994, 4),
 (datetime.date(2021, 5, 3), 158479.803, 238826.71986666656, 4),
 (datetime.date(2021, 4, 29), 150589.75, 238356.54359999992, 4),
 (datetime.date(2021, 5, 27), 46399.74199999996, 238265.58796666656, 4),
 (datetime.date(2021, 5, 5), 311979.7179999999, 236958.56033333324, 4),
 (datetime.date(2021, 5, 2), 325554.76699999993, 235855.55079999988, 4),
 (datetime.date(2021, 4, 30), 172189.799, 233436.54466666662, 4),
 (datetime.date(2021, 4, 27), 241389.651, 233188.54646666662, 4),
 (datetime.date(2021, 5, 6), 84729.74699999997, 232766.5601666666, 4),
 (datetime.date(2021, 5, 4), 313189.755, 231933.0571999999, 4),
 (datetime.date(2021, 5, 11), 146279.70899999994, 231872.8978333333, 4),
 (datetime.date(2021, 5, 28), 178114.736, 231765.9243333332, 4),
 (datetime.date(2021, 5, 1), 297809.7249999999, 230443.5485999999, 4),
 (datetime.date(2021, 4, 28), 412429.77900000004, 229618.87593333324, 4),
 (datetime.date(2021, 5, 26), 319089.77599999995, 228145.9202999999, 4),
 (datetime.date(2021, 5, 30), 126679.80200000004, 226116.4231999999, 4),
 (datetime.date(2021, 5, 7), 96314.675, 226045.89476666655, 4),
 (datetime.date(2021, 5, 10), 321944.76899999985, 225645.73086666656, 4),
 (datetime.date(2021, 5, 31), 210279.81499999992, 224599.42329999988, 4),
 (datetime.date(2021, 5, 29), 215419.75900000002, 223955.42289999992, 4),
 (datetime.date(2021, 5, 13), 224709.78199999992, 222974.56746666657, 4),
 (datetime.date(2021, 5, 25), 213359.74799999996, 222799.58529999992, 4),
 (datetime.date(2021, 5, 12), 225929.78599999988, 222385.89513333325, 4),
 (datetime.date(2021, 6, 1), 10729.815999999999, 221681.75963333322, 4),
 (datetime.date(2021, 5, 9), 358259.79199999996, 221265.3940666666, 4),
 (datetime.date(2021, 5, 20), 212529.75199999998, 220892.23839999994, 4),
 (datetime.date(2021, 5, 8), 228289.729, 220626.55953333326, 4),
 (datetime.date(2021, 5, 21), 162349.73399999994, 220226.24009999994, 4),
 (datetime.date(2021, 7, 27), 13809.769999999999, 217280.26966666663, 4),
 (datetime.date(2021, 6, 3), 171099.85, 217016.26139999984, 4),
 (datetime.date(2021, 5, 22), 237169.63499999986, 216972.91079999993, 4),
 (datetime.date(2021, 5, 15), 237189.76599999997, 215778.23729999998, 4),
 (datetime.date(2021, 7, 26), 100109.75900000003, 214303.60486666666, 4),
 (datetime.date(2021, 5, 23), 167659.829, 214284.57749999993, 4),
 (datetime.date(2021, 5, 16), 212709.782, 214003.23463333334, 5),
 (datetime.date(2021, 5, 24), 392479.8329999999, 213661.91636666658, 5),
 (datetime.date(2021, 7, 24), 42849.79899999997, 213576.10483333332, 5),
 (datetime.date(2021, 5, 17), 48529.765999999974, 213503.73613333332, 5),
 (datetime.date(2021, 6, 7), 106689.63800000002, 212924.26889999988, 5),
 (datetime.date(2021, 6, 4), 98569.78500000006, 212279.93123333316, 5),
 (datetime.date(2021, 7, 25), 199919.81599999993, 211689.77253333334, 5),
 (datetime.date(2021, 5, 14), 236219.75699999993, 211564.23659999995, 5),
 (datetime.date(2021, 5, 19), 375819.77599999995, 211377.40529999993, 5),
 (datetime.date(2021, 6, 2), 333339.80700000003, 211187.59459999987, 5),
 (datetime.date(2021, 6, 6), 163549.7199999999, 210683.1007333332, 5),
 (datetime.date(2021, 5, 18), 262789.74899999995, 210434.73949999997, 5),
 (datetime.date(2021, 6, 8), 39899.797, 208870.93253333322, 5),
 (datetime.date(2021, 7, 23), 287419.62999999995, 205575.77676666668, 5),
 (datetime.date(2021, 6, 5), 250234.76500000004, 205166.26679999987, 5),
 (datetime.date(2021, 7, 22), 328449.78999999986, 202856.7774, 5),
 (datetime.date(2021, 7, 28), 38959.87399999999, 201110.93496666662, 5),
 (datetime.date(2021, 6, 13), 133659.71099999995, 199202.93850000005, 5),
 (datetime.date(2021, 7, 21), 216899.831, 199006.77413333333, 5),
 (datetime.date(2021, 6, 9), 239329.85799999998, 198258.93269999992, 5),
 (datetime.date(2021, 6, 14), 161979.79899999994, 195784.2703, 5),
 (datetime.date(2021, 6, 10), 49209.75699999998, 195505.1023333333, 5),
 (datetime.date(2021, 7, 20), 146989.86000000002, 194633.76989999998, 5),
 (datetime.date(2021, 6, 15), 133659.68499999997, 193277.27140000003, 5),
 (datetime.date(2021, 6, 17), 64619.85299999998, 193183.76679999998, 5),
 (datetime.date(2021, 6, 12), 418959.821, 192727.93720000001, 5),
 (datetime.date(2021, 6, 11), 239684.78399999999, 192269.43726666662, 5),
 (datetime.date(2021, 6, 16), 124774.72500000006, 190642.2681666667, 5),
 (datetime.date(2021, 7, 18), 81299.78300000002, 190549.77166666664, 5),
 (datetime.date(2021, 7, 19), 303839.71199999994, 188772.1054333333, 5),
 (datetime.date(2021, 7, 30), 107349.823, 188290.60783333326, 5),
 (datetime.date(2021, 7, 15), 47539.742, 187606.44046666662, 5),
 (datetime.date(2021, 7, 29), 216909.83299999998, 186654.60569999993, 5),
 (datetime.date(2021, 6, 18), 134629.76999999996, 186578.10359999994, 5),
 (datetime.date(2021, 7, 16), 12419.789999999999, 184735.77569999997, 5),
 (datetime.date(2021, 7, 2), 129109.77200000003, 184631.60653333334, 5),
 (datetime.date(2021, 7, 12), 243349.768, 184374.9400666666, 6),
 (datetime.date(2021, 7, 11), 247984.75599999996, 184098.27433333325, 6),
 (datetime.date(2021, 7, 31), 10329.828, 182514.94363333323, 6),
 (datetime.date(2021, 7, 14), 337064.79199999996, 181770.27403333326, 6),
 (datetime.date(2021, 12, 24), 102169.69900000004, 181464.58740000005, 6),
 (datetime.date(2021, 7, 17), 351394.66699999996, 180990.61119999996, 6),
 (datetime.date(2021, 12, 19), 166149.793, 179580.26100000003, 6),
 (datetime.date(2021, 12, 23), 241194.68999999994, 179173.92463333334, 6),
 (datetime.date(2021, 12, 22), 141734.79099999997, 178776.9270333333, 6),
 (datetime.date(2021, 6, 19), 127989.77799999999, 178538.43673333325, 6),
 (datetime.date(2021, 7, 13), 231129.78299999997, 178521.27163333326, 6),
 (datetime.date(2021, 7, 3), 129419.76900000001, 177823.93869999997, 6),
 (datetime.date(2021, 7, 9), 225519.794, 176875.94306666663, 6),
 (datetime.date(2021, 7, 8), 42529.812999999995, 176788.27586666663, 6),
 (datetime.date(2021, 12, 20), 120274.73000000001, 176694.26123333332, 6),
 (datetime.date(2021, 7, 4), 40739.78999999999, 176434.60266666664, 6),
 (datetime.date(2021, 7, 10), 279689.75899999985, 176415.60759999993, 6),
 (datetime.date(2021, 6, 20), 15799.732999999997, 175720.43759999995, 6),
 (datetime.date(2021, 12, 17), 47239.753999999964, 175366.2609666667, 6),
 (datetime.date(2021, 12, 28), 210554.78599999988, 175005.5851333333, 6),
 (datetime.date(2021, 12, 26), 13074.761999999997, 174723.25176666665, 6),
 (datetime.date(2021, 12, 31), 215234.658, 174666.24996666668, 6),
 (datetime.date(2021, 7, 5), 13159.783999999996, 174506.93616666665, 6),
 (datetime.date(2021, 12, 16), 187564.70100000003, 173779.2626333334, 6),
 (datetime.date(2021, 12, 12), 12164.768999999998, 173343.9385333333, 6),
 (datetime.date(2021, 12, 18), 318049.81700000004, 173327.59430000003, 6),
 (datetime.date(2021, 7, 7), 210579.82799999998, 173325.2695333333, 6),
 (datetime.date(2021, 12, 21), 286919.77799999993, 172793.593, 6),
 (datetime.date(2021, 12, 15), 129959.66100000011, 172627.76843333337, 6),
 (datetime.date(2021, 12, 25), 182549.78900000002, 172223.08410000004, 6),
 (datetime.date(2021, 12, 11), 147179.70099999997, 171460.10796666666, 6),
 (datetime.date(2021, 6, 21), 101399.73300000005, 170835.43756666657, 6),
 (datetime.date(2021, 12, 27), 168444.72699999996, 169921.75133333338, 6),
 (datetime.date(2021, 12, 30), 245574.68099999992, 169798.91906666665, 6),
 (datetime.date(2021, 6, 23), 47409.78799999999, 168950.44016666664, 6),
 (datetime.date(2021, 7, 1), 483834.7199999998, 168861.4430666667, 6),
 (datetime.date(2021, 12, 14), 301634.69399999996, 167348.9368, 7),
 (datetime.date(2021, 12, 13), 48549.741999999984, 167198.10633333336, 7),
 (datetime.date(2021, 12, 29), 91289.709, 167182.08780000004, 7),
 (datetime.date(2021, 8, 1), 9509.834, 166731.44723333322, 7),
 (datetime.date(2021, 7, 6), 365174.702, 166604.43679999997, 7),
 (datetime.date(2021, 6, 30), 280619.74899999995, 166516.77860000002, 7),
 (datetime.date(2021, 6, 22), 246879.80899999992, 166309.7741666666, 7),
 (datetime.date(2021, 12, 10), 222039.81799999997, 165247.94253333332, 7),
 (datetime.date(2021, 6, 29), 167829.76900000006, 165145.11303333336, 7),
 (datetime.date(2021, 8, 2), 8059.861999999998, 162744.78263333326, 7),
 (datetime.date(2021, 8, 5), 9469.841, 158761.12136666657, 7),
 (datetime.date(2021, 8, 4), 13879.763999999997, 158737.12203333323, 7),
 (datetime.date(2021, 8, 3), 41869.87899999999, 158699.4523999999, 7),
 (datetime.date(2021, 6, 24), 99439.76800000005, 157448.10533333337, 7),
 (datetime.date(2021, 8, 8), 192794.80399999995, 156962.4614, 7),
 (datetime.date(2021, 6, 28), 472649.7519999999, 156570.77993333337, 7),
 (datetime.date(2021, 8, 10), 49369.76699999998, 156010.29776666668, 7),
 (datetime.date(2021, 8, 9), 283849.83999999997, 155871.6284, 7),
 (datetime.date(2021, 12, 9), 318524.76499999996, 155072.77539999998, 7),
 (datetime.date(2021, 6, 25), 121504.84599999999, 153650.7726666667, 7),
 (datetime.date(2021, 12, 5), 173394.71599999993, 152487.11386666665, 7),
 (datetime.date(2021, 12, 2), 9449.828999999998, 150455.78356666665, 7),
 (datetime.date(2021, 8, 11), 239469.833, 149389.79813333336, 7),
 (datetime.date(2021, 8, 12), 40639.85099999997, 149260.46696666666, 7),
 (datetime.date(2021, 12, 6), 83644.74000000008, 148697.61243333333, 7),
 (datetime.date(2021, 11, 29), 12784.770999999999, 148639.12083333332, 7),
 (datetime.date(2021, 8, 7), 316464.84699999995, 147831.29359999998, 7),
 (datetime.date(2021, 6, 26), 10809.814999999999, 147064.60833333334, 7),
 (datetime.date(2021, 8, 6), 238389.856, 146904.29266666662, 7),
 (datetime.date(2021, 11, 30), 99554.75400000003, 146657.7856, 7),
 (datetime.date(2021, 6, 27), 498889.8109999999, 145878.27743333337, 7),
 (datetime.date(2021, 12, 4), 258184.793, 144254.27946666666, 7),
 (datetime.date(2021, 12, 7), 133169.77400000003, 143919.94463333333, 7),
 (datetime.date(2021, 8, 13), 113899.82300000006, 142910.80256666668, 7),
 (datetime.date(2021, 12, 1), 278759.7499999999, 142689.7847, 7),
 (datetime.date(2021, 12, 3), 177959.74200000003, 142281.11653333332, 7),
 (datetime.date(2021, 12, 8), 422584.79799999984, 141255.7765, 8),
 (datetime.date(2021, 8, 15), 8849.854, 140936.3063333333, 8),
 (datetime.date(2021, 8, 16), 203289.79100000003, 140817.30846666667, 8),
 (datetime.date(2021, 11, 27), 15929.712999999998, 139052.46039999998, 8),
 (datetime.date(2021, 9, 5), 118634.90199999999, 138149.3302, 8),
 (datetime.date(2021, 11, 28), 445259.70599999983, 138034.62476666665, 8),
 (datetime.date(2021, 8, 18), 67409.868, 136593.14746666665, 8),
 (datetime.date(2021, 8, 17), 102679.82900000003, 135880.47926666666, 8),
 (datetime.date(2021, 9, 15), 79629.83000000005, 135571.6671, 8),
 (datetime.date(2021, 8, 14), 211469.82399999994, 135471.97026666664, 8),
 (datetime.date(2021, 9, 4), 101729.74800000002, 135073.99996666666, 8),
 (datetime.date(2021, 11, 26), 157119.77500000002, 134340.9582333333, 8),
 (datetime.date(2021, 9, 6), 100089.78000000001, 134157.4984, 8),
 (datetime.date(2021, 9, 3), 42239.836999999985, 134128.66420000003, 8),
 (datetime.date(2021, 11, 25), 107544.75900000006, 134051.62533333333, 8),
 (datetime.date(2021, 9, 13), 190779.839, 133966.66646666668, 8),
 (datetime.date(2021, 9, 14), 77689.85800000004, 133277.00029999999, 8),
 (datetime.date(2021, 9, 2), 96319.83500000004, 132313.66566666667, 8),
 (datetime.date(2021, 9, 16), 47969.79999999998, 131449.6684, 8),
 (datetime.date(2021, 9, 1), 49469.77, 130933.3354, 8),
 (datetime.date(2021, 9, 12), 212354.779, 130684.83459999999, 8),
 (datetime.date(2021, 9, 17), 9349.857999999998, 129626.00076666666, 8),
 (datetime.date(2021, 8, 19), 99189.77700000003, 128712.15266666663, 8),
 (datetime.date(2021, 8, 21), 110269.84900000003, 128660.81476666663, 8),
 (datetime.date(2021, 9, 24), 43209.87599999999, 128339.33573333337, 8),

## Resumen

En este capítulo, aprendiste sobre las funciones de ventana, que generan resultados para una fila en función de su posición dentro del conjunto de datos o subgrupos dentro del conjunto de datos. Esto difiere de las funciones simples que aprendiste en el Capítulo 3, SQL para la Preparación de Datos, que generan un resultado para una fila independientemente de las características del conjunto de datos, y difiere de las funciones de agregación que aprendiste en el Capítulo 4, Funciones de Agregación para el Análisis de Datos, que generan un resultado para todas las filas en un conjunto de datos o subgrupos en el conjunto de datos.
Aprendiste algunas de las funciones de ventana más comunes, incluyendo COUNT, SUM y RANK. También aprendiste cómo construir una ventana básica utilizando la cláusula OVER. La salida de la función de ventana depende de la posición actual de la fila en el conjunto de datos o subgrupos dentro del conjunto de datos, lo que se llama partición, así como de la colección de filas requeridas por el cálculo, que se llama ventana. Por lo tanto, hay varias palabras clave que pueden afectar cómo se realiza el cálculo, como PARTITION BY, ORDER BY y las palabras clave de marco de ventana. La cláusula PARTITION BY determina la partición, la cláusula ORDER BY determina la posición de la fila dentro de la partición y las palabras clave del marco de ventana determinan el rango y el tamaño de la ventana. Luego aprendiste cómo utilizar las funciones de ventana para obtener información analítica. Por ejemplo, al definir un marco de ventana sobre un resumen diario, como las ventas diarias, puedes crear estadísticas móviles y obtener información útil sobre la tendencia temporal de las ventas.
En este punto, has aprendido todas las declaraciones fundamentales de SQL. Has aprendido cómo manejar el ciclo completo de CRUD utilizando SQL, cómo combinar tablas utilizando JOIN y UNION, y has aprendido cómo utilizar diferentes tipos de funciones para obtener los resultados deseados. En el Capítulo 6, Importación y Exportación de Datos, verás cómo importar y exportar datos para utilizar SQL con otros programas. Utilizarás el comando COPY para cargar datos en tu base de datos de manera masiva. También utilizarás Excel para procesar datos de tu base de datos y luego simplificarás tu código utilizando Python.