# Estructura nombre_de_mi_base_de_datos

Especificar claramente el objetivo principal de esta base de datos, brindando una descripción detallada que resuma su propósito y funcionalidades. Asegurarse de incluir el contexto necesario para que los usuarios comprendan cómo se relaciona con los demás elementos del sistema o entorno en el que se utiliza.

In [1]:
# NOTA IMPORTANTE cambiar mi_base_de_datos

# @title Postgress preloading (install server)
%%capture

# Install postgresql server
!sudo apt-get -y -qq update
!sudo apt-get -y -qq install postgresql
!sudo service postgresql start
!sudo -u postgres psql -U postgres -c "ALTER USER postgres PASSWORD 'postgres';"
!sudo -u postgres psql -U postgres -c 'CREATE DATABASE mi_base_de_datos;'

In [2]:
# @title Postgress preloading
# import
# !sudo -u postgres psql -d sqlda < data.dump
%env DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mi_base_de_datos
#To load the sql extention to start using %%sql
%load_ext sql

env: DATABASE_URL=postgresql://postgres:postgres@localhost:5432/mi_base_de_datos

In [3]:
%sql SELECT current_database();

1 rows affected.

[('mi_base_de_datos',)]

In [5]:
# prompt: Crea una nueva tabla que se llame alumnos

%%sql
CREATE TABLE alumnos (
    id SERIAL PRIMARY KEY,
    nombre VARCHAR(255),
    apellido VARCHAR(255),
    edad INTEGER,
    grado VARCHAR(50)
);

 * postgresql://postgres:***@localhost:5432/mi_base_de_datos
Done.

[]

In [7]:
# prompt: inserta algunos alumnos de prueba

%%sql
INSERT INTO alumnos (nombre, apellido, edad, grado) VALUES
('Juan', 'Pérez', 15, '10mo'),
('María', 'González', 16, '11vo'),
('Pedro', 'Rodríguez', 14, '9no'),
('Ana', 'López', 17, '12vo');

 * postgresql://postgres:***@localhost:5432/mi_base_de_datos
4 rows affected.

[]

In [8]:
%sql SELECT * FROM alumnos LIMIT 5;

 * postgresql://postgres:***@localhost:5432/mi_base_de_datos
4 rows affected.

[(1, 'Juan', 'Pérez', 15, '10mo'),
 (2, 'María', 'González', 16, '11vo'),
 (3, 'Pedro', 'Rodríguez', 14, '9no'),
 (4, 'Ana', 'López', 17, '12vo')]

In [9]:
# password postgres
!pg_dump -U postgres -h localhost -p 5432 mi_base_de_datos > amazonbestsellers.dump

# decarga el archivo mi_base_de_datos.dump en tu dispositivo

Password: ^C